h1{
    background-color: gray;
    font-size: 28px;
    border-radius: 3px;
}
#header1{
    width: 100%;
    height: 50px;
    background-color: rgba(128, 128, 128,0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}
.headt{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: rgb(101, 109, 126);
}
#header1 a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(61, 90, 100);
}
/* //////////////////////////////////////////////////////// */
.footer{
    background-color: rgba(101, 109, 126,0.6);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img1{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer .abo{
    text-decoration: none;
    color: rgb(61, 90, 100);
    margin-left: 10px;
    z-index: 2;
    margin-left: -95px;
    margin-bottom: 5px;
}
