<!DOCTYPE html>
<head>
    <meta lang="en" charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <div class="footer">
        <img class="img1" src="images/avatar3.jpg">
        <a class="abo" href="/about">About us</a>
    </div>
</body>
</html>