
<!DOCTYPE html>
<head>
    <meta lang="en" charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <h2 class="headt">{{title}}</h2>
    <div id="header1">
        <a href="/" id="">HOME</a>
        <a href="/welcome" id="">WELCOME</a>
        <a href="/service" id="">SERIVCE</a>
        <a href="/team" id="">TEAM</a>
        <a href="/response" id="">RESPONSE</a>
    </div>
</body>
</html>