<!DOCTYPE html>
<head>
    <meta lang="en" charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <h2>{{>header}}</h2>
    <h1>{{title}}</h1>
    <h2>{{describe}}</h2>
    <h2>{{>footer}}</h2>
</body>
</html>