<!DOCTYPE html>
<head>
    <meta lang="en" charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <h2>{{>header}}</h2>
    <h1>This is the {{title}} page</h1>
    <h2>{{desc}}</h2>
    <h2>Location is{{location}}</h2>
    <h2>{{>footer}}</h2>
</body>
</html>